html, body, h2 {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    box-sizing: border-box;
    
    color: #403935;
    font-family: 'PT Serif', serif;

    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    
    flex-direction: column;
    flex-wrap: nowrap;
}

* {
    box-sizing: inherit;
}

#img-logo-large {
    display: block;

    width: 60%;
    max-width: 420px;
    min-width: 240px;

    margin: 16px auto;
}

header {
    font-family: 'News Cycle', sans-serif;
    margin-bottom: 16px;
}
#main-nav ul {
    maring: 0;
    padding: 0;
    display: block;
    max-width: 240px;
    margin: auto;r
}
#main-nav li {
    display: inline-block;
    margin: auto;
}
#main-nav li+li::before {
    content: " - ";
}

:link, :visited {
    color: #6a6461;
    text-decoration: none;
}
a:hover {
    color: #6a6461;
    text-decoration: underline;
}

section.page {
    display: flex;
    justify-content: space-between;

    width: 90%;
    min-width: 240px;
    max-width: 900px;

    height: 0;
    overflow: hidden;

    margin: auto;
    
    transition: opacity 0.2s;
}
section.page:target{
    height: auto;
}

section.page header {
    flex-basis: 120px;
    flex-grow: 1;

    text-align: left;
}
section.page main {
    flex-basis: 120px;
    flex-grow: 9;
}

/* page-specific: */
#blog article {

}
#blog article::after{
    /* line separator */
    content: "";
    display: block;
    width: 20%;
    border-top: 1px solid #403935;
    margin: 30px 0;
}

@media screen and (max-width: 600px) {
    /* mobile layout */
    section.page {
	flex-direction: column;
	justify-content: flex-start;
    }
    section.page header {
	flex-basis: auto;
	text-align: center;
    }
    section.page main {
	flex-basis: auto;
    }
}
body > main {
    flex-grow: 1;
}
body > footer {
    width: 100%;

    text-align: center;
    padding: 4px 16px;
    
    color: #a8a19d;
    font-family: 'News Cycle', sans-serif;
    font-size: 80%;
}
